@{
    ViewBag.Title = "Santa Claus Management - Login";
}

@using SantaClausManagement.Models
@model User

<body class="image-bcg-login">
    <div class="container">
        <div class="login">
            <div style="width: 300px;">
                <h1 class="text-center">Login</h1>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { id = "emailAddress", type = "email" , @class="form-control", placeholder="Email"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PasswordClearText)
                        @Html.PasswordFor(model => model.PasswordClearText, new { id="InputPassword", @class="form-control", placeholder="Password"})
                    </div>
                    <div class="flex flex-center">
                        <button type="submit" class="btn btn-default btn-login" style="margin:0 auto;">Login</button>
                    </div>
                }
            </div>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>
